/* font local for crono */
@font-face {
  font-family: 'DS-DIGIB';
  src: url('/fonts/DS-DIGIB.eot'); /* IE9 */
  src: url('/fonts/DS-DIGIB.woff2') format('woff2'), /* Browser Super Moderni */
       url('/fonts/DS-DIGIB.woff') format('woff'), /* Browser Moderni */
       url('/fonts/DS-DIGIB.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/DS-DIGIB.svg') format('svg'); /* Legacy iOS */
}

.cronoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .crono {
    width: 300px;
    position: relative;

    .headerClock {
      width: 300px;
    }

    .headerTime {
      font-family: 'DS-DIGIB';
      font-size: 2rem;
      position: absolute;
      bottom: 195px;
      left: 85px;
    }
  }

  .cronoButtonsContainer {
    display: flex;

    .buttonCrono {
      display: block;
      margin: 1rem;
      padding: 0.3rem;
    }
  }
}





