#container{
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  align-items: center;
}


.items {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.items img {
    width: 400px;
}
