/* GLOBAL STYLE */

@font-face {
  font-family: timerFont;
  src: url(/src/fonts/DS-DIGIB.woff);
}

/* *************************************** */

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 2px solid red ;
}
.button-crono{
  display: block;
  margin-top: 1rem;
  padding: 0.3rem;
}
.header-timer{
  font-family: timerFont;
  font-weight: bold;
  font-size: 1.3rem;
  position: absolute;
  bottom: 160px;
  left: 80px;
}
#crono{
  width: 300px;
  height: 300px;
  position: relative
}
.header-clock{
    width: 250px;

}


