// variables

$imgWidth: 296px;
$imgHeigth: 296px;

////////////

.slider {
  display: flex;
  overflow-x: hidden;
  align-items: center;
  margin: auto;

  .items {
    margin: 15px 7.5px;


    .boxImg{
      position: relative;
      width: $imgWidth;
      height: $imgHeigth;

    img {
      width: 100%;
      height: 100%;

    }
    a {
      position: absolute;
      top: 70%;
      left: 10%;
      width: 50%;
      font-size: 21px;
      font-family:'Noto Sans JP', sans-serif;
      color: black;
      z-index: 10;
    }
  }
  }
}
.desc{
  display: none;
}
.items:hover{
  opacity: 0.7;
  cursor: pointer;
}
.items:focus{
  opacity: 0.7;
  cursor: pointer;
}
.title{
  font-size: 1.8rem;
  font-family:'Noto Sans JP', sans-serif;
  padding : 15px 0 15px 7.5px
}

.scroll{
  width: 40%;
  margin: auto;
  padding-top: 50px;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animation-duration: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: black;
  border-radius: 10px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: black;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animation-duration: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ac51b5;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animation-duration: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ac51b5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ac51b5;
}

@media only screen and (min-width: 768px) and (max-width: 1024px)
{
  .slider{

    .items {

      .boxImg{
        width: $imgWidth * 90/100 ;
        height: $imgHeigth * 90/100 ;

      a{
        font-size: 18px;
      }
    }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px)
{
  .slider{

    .items {

      .boxImg{
        width: $imgWidth * 80/100 ;
        height: $imgHeigth * 80/100 ;

      a{
        font-size: 16px;
      }
    }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px)
{
  .slider{
    width: 100%;
    background-color: black;

    .items {
      width: 80%;

      .boxImg{
        height: $imgHeigth * 50/100 ;

      a{
        font-size: 1.2rem;
        left: 25%;
        background-color: white;
        text-align: center;
      }
    }
    .desc{
      margin-top: 10px;;
      display: block;
      color: white;
      font-weight: 100;
    }
    }
  }
  .scroll{
    display: none;
  }
}
