.slider {
  display: flex;
  overflow-x: auto;
  align-items: center;
  margin: auto;

  &::-webkit-scrollbar {
    display: none;
    }
}

.title {
  font-size: 1.8rem;
  font-family:'Noto Sans JP', sans-serif;
  padding : 15px 0 15px 7.5px
}


